In [1]:
#core data lib
import pandas as pd
import pandasql as ps

In [2]:
#https://ourworldindata.org/
#https://github.com/owid/covid-19-data/tree/master/public/data/
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [3]:
#df.head(10) #continent

In [4]:
df = df.sort_values(by=['date'])
df = df.reset_index()

In [12]:
df2 = ps.sqldf('''select date, continent, location, new_cases from df where date>='2022-01-01' and total_cases>0 order by date, new_cases''')

In [14]:
df2['new_cases'] = df2['new_cases'].fillna(0)
df2.head(200)

           date      continent           location  new_cases
0    2022-01-01         Africa         Seychelles        0.0
1    2022-01-01         Africa             Gambia        0.0
2    2022-01-01           Asia          Palestine        0.0
3    2022-01-01         Europe        Switzerland        0.0
4    2022-01-01         Africa  Equatorial Guinea        0.0
..          ...            ...                ...        ...
195  2022-01-01  North America             Mexico     9193.0
196  2022-01-01         Africa       South Africa     9793.0
197  2022-01-01           None         Low income    11529.0
198  2022-01-01         Europe             Poland    12033.0
199  2022-01-01  South America           Colombia    12415.0

[200 rows x 4 columns]